* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(25, 76, 71);
  overflow: hidden;
}

.memory-card0,
.memory-card1,
.memory-card2,
.memory-card3,
.memory-card4,
.memory-card5,
.memory-card6,
.memory-card7,
.memory-card8,
.memory-card9,
.memory-card10,
.memory-card11 {
  border: 5px solid rgb(255, 255, 255);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card0:active,
.memory-card1:active,
.memory-card2:active,
.memory-card3:active,
.memory-card4:active,
.memory-card5:active,
.memory-card6:active,
.memory-card7:active,
.memory-card8:active,
.memory-card9:active,
.memory-card10:active,
.memory-card11:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card0.flip,
.memory-card1.flip,
.memory-card2.flip,
.memory-card3.flip,
.memory-card4.flip,
.memory-card5.flip,
.memory-card6.flip,
.memory-card7.flip,
.memory-card8.flip,
.memory-card9.flip,
.memory-card10.flip,
.memory-card11.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  background-color: rgb(0, 0, 0);
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.memory-game {
  display: grid;
  grid-template-columns: auto auto;
  width: 640px;
  height: 550px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(17, 66, 71);
  margin-left: 30%;
}

.changeGrid {
  margin-left: 42%;
  font-size: 1.2rem;
  color: white;
}

#grid {
  margin-top: 7%;
}

select {
  padding: 5px;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  border: 2px solid white;
}

#first,
#second,
#third,
#selectOption {
  font-size: 1.2rem;
  text-align: center;
  color: white;
}
