* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgba(34, 107, 101, 0.477);
  overflow: hidden;
}

.memory-game {
  border: 5px solid rgb(0, 0, 0);
  width: 750px;
  height: 650px;
  margin-top: 6%;
  margin-left: 30%;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  border: 5px solid rgba(0, 0, 0, 0.579);
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  background-color: rgb(0, 0, 0);
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}
